*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* regole generali */
body{
  font-family: 'Roboto', sans-serif;
}

.container{
  max-width: 1060px;
  margin: auto;
}

ul{
  list-style: none;
}

ul li{
  display: inline-block;
  text-align: center;
}

a{
  text-decoration: none;
  color: #BBC0C4;
}

.btn{
  padding: 10px 15px;
  border-radius: 20px;
  background-color: #EB008D;
}
.btn a{
  text-decoration: none;
  color: white;
}

.box.active{
  display: block;
}
/* inizio menu */

nav{
  height: 80px;
  margin-top: 40px;
}

nav .container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
nav ul li{
  position: relative;
}
nav ul li .box{
  width: 150px;
  display: none;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 40px;
  left: -50px;
  box-shadow: 0 0 3px #ccc;
  text-align: center;
}
nav ul li .box a{
  display: block;
  padding: 20px;
  position: relative;
}
nav ul li .box a .new{
  padding: 2px;
  position: absolute;
  top: 15px;
  color: #EB008D;
  font-size: 10px;
}
/* menu-left */
nav .container .menu-left ul li {
  margin-right: 20px;
}
nav .container .menu-left ul li a:hover{
  color: black;
}
nav .container .menu-left img{
  height: 30px;
  vertical-align: middle;
}
/* menu-right */
nav .container .menu-right{
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
}
nav .container .menu-right ul li {
  margin-right: 20px;
}
nav .container .menu-right ul li a:hover{
  color: black;
}
